html {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color:#3BC1AC;
    display:flex;
    min-height: 100vh;
    align-items: center;
    background-color: #F7F7F7;
    background-image: url("bg.png");
    background-size: cover;    
}


.voiceinator {
    padding: 2rem;
    width: 50rem;
    margin: 0 auto;
    border-radius: 0.5rem;
    position: relative;
    background: white;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
}

h1 {
    width: calc(100% + 4rem);
    margin: 0;
    margin-left: -2rem;
    margin-top: -2rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    background: #ffc600;
    border-bottom: 5px solid #F3C010;
    text-align: center;
    font-size: 5rem;
    font-weight: 100;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 0 #F3C010;

}

.voiceinator input,
.voiceinator button,
.voiceinator select,
.voiceinator textarea {
    width: 100%;
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: 0;
    font-size: 2rem;
    background: #F7F7F7;
    outline: 0;
}

textarea {
    height: 20rem;
}

input[type="select"] {

}

.voiceinator button {
    background:#ffc600;
    border:0;
    width: 49%;
    float:left;
    font-family: 'Pacifico', cursive;
    margin-bottom: 0;
    font-size: 2rem;
    border-bottom: 5px solid #F3C010;
    cursor:pointer;
    position: relative;
}

.voiceinator button:active {
    top:2px;
}

.voiceinator button:nth-of-type(1) {
    margin-right: 2%;
}
