html {
    box-sizing: border-box;
    background: #222;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 20px;
    margin: 0;
}

.items {
    height: 100vh;
    padding: 0;
    width: 100%;
    border: 0px solid white;
    box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.09);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s;
    transform: scale(0.998);
    will-change: transform;
    position: relative;
    background: rgba(255,255,255,0.02);
    font-size: 0;
    perspective: 500px;
}

.items.active {
    background: rgba(255,255,255,0.01);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
}

.item {
    width:200px;
    height: 600px;
    margin-top: calc((100vh - 600px)/2);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-weight: 100;
    color:rgba(0,0,0,0.15);
    box-shadow: inset 0 0 0 10px rgba(0,0,0,0.15);
}


img {
    width: 200px;
    height: 600px;
    border: 2px solid #fff;
}

img, .item:nth-child(even) { transform: scaleX(1.31) rotateY(40deg); }
img, .item:nth-child(odd) { transform: scaleX(1.31) rotateY(-40deg); }

.wrap {
    width: auto;
    border:2px solid green;
    height: 100%;
}